@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
