---
import Article from "./Article.astro";
---

<div class="w-full mt-20 flex flex-wrap justify-between gap-12">
  <Article
    title="Reviving Retro PCs"
    description="What happenes when old PCs are given modern upgrades?"
    label="01"
    image="images/image-retro-pcs.jpg"
    link="#"
  />
  <Article
    title="Top 10 Laptops of 2022"
    description="Our best picks for various needs and budgets."
    label="02"
    image="images/image-top-laptops.jpg"
    link="#"
  />
  <Article
    title="The Growth Of Gaming"
    description="How the pandemic has sparked fresh opportunities."
    label="03"
    image="images/image-gaming-growth.jpg"
    link="#"
  />
</div>
